# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Operating Systems
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Windows
AppData/
Application Data/
Local Settings/
Temp/
$RECYCLE.BIN/

# Composer
/composer.lock

# Laravel specific
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
